
  <%= render 'books/list2', book: @book, user:@user %>

<% if flash[:notice] %>
        <%= flash[:notice] %>
<% end %>


<div class="col-lg-8">
	<h1>Book detail</h1>
	<table class="table">
		<tbody>
			<tr>
				<th><%= attachment_image_tag @user, :profile_image, :fill, 10, 10, format:'jpeg', class:"img-circle pull-left profile-img", fallback: "no_image.jpg", size:'40x40' %><br><%=link_to @user.name, user_path(@user) %></th>
				<th><p><%=@bookj.title%></p></th>
				<td><%= @bookj.body %></td>
				<% if @bookj.user == current_user %>
				    <th><%= link_to "Edit", edit_book_path(@bookj) %></th>
			        <th><%= link_to "Destroy", book_path(@bookj), method: :delete, "data-confirm" => "本当に削除しますか?" %></th>
			    <% end %>
			</tr>
		</tbody>
	</table>

</div>

